.table {
  display: table;
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  .tableBody {
    display: table-row-group;
    .tableHeader {
      font-weight: bold;
      display: table-row;
      .tableHead {
        border-bottom: thick solid #4a5307;
        border-top: 4px solid #350149;
        padding: 1.5%;
        display: table-cell;
        margin: auto;
        text-align-last: center;
      }
    }
    .tableRow {
      display: table-row;
      &:hover {
        background-color: rgb(199, 199, 194);
      }
    }
    .tableCell {
      display: table-cell;
      margin: auto;
      padding: 3px 10px;
      text-align-last: center;
    }
  }
}
